# Server Configuration
PORT=3000
NODE_ENV=production

# Database
DATABASE_URL="mongodb+srv://user:pass@cluster.mongodb.net/sameit?retryWrites=true&w=majority"

# Security
JWT_SECRET="your_ultra_secure_production_secret"

# App Settings
BASE_URL="https://api.yourdomain.com"
